fastapi==0.115.8
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
alembic==1.13.2
pandas==2.2.2
python-multipart==0.0.9
pydantic==2.8.2
pydantic-settings==2.4.0
python-dateutil==2.9.0.post0
streamlit==1.37.1
requests==2.32.3
